extends ../layout

block content
    h1 Add New Order
    form(action="/orders/add",method="post")
        .form-group
            label(for="serial_no")  Serial No
            input#serial_no(type="text", class="form-control", name="serial_no")
        .form-group
            label(for="address") Address
            input#address(type="text", class="form-control", name="address")
        .form-group
            label(for="quantity") Quantity
            input#quantity(type="text", class="form-control", name="quantity")
        .form-group
            label(for="payment") Payment
            input#payment(type="number", class="form-control", name="payment")
        input(type="submit", class="btn btn-info")
    